* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px */
  /* 10px / 16px = 0.625 = 62.5 */
  font-size: 62.5%;
  overflow-x: hidden;
  /* scroll-behavior: smooth; */
}

body {
  font-family: "Lato";
  font-weight: 400;
  line-height: 1;

  color: #555;
  overflow: hidden;
}

.section-ay {
  background-color: #0d0d2b;
  padding: 4rem 9.6rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  width: 4rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
  font-weight: 500;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  font-weight: 400;
  font-size: 2rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #3671e9;
}

.main-nav-link.nav-reg:link,
.main-nav-link.nav-reg:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 32px;
  color: #fff;
  background-color: #3671e9;
}

.section-hero {
  margin-top: 3rem;
  position: relative;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-primary,
.heading-secondary {
  font-weight: 700;
  color: #ffffff;
  letter-spacing: -0.5px;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3.6rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  color: #000;
}

.save-box {
  width: 35rem;
  padding: 0;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 32px;
  margin-bottom: 1.5rem;
}

.save:link,
.save:visited {
  font-size: 1.2rem;
  font-weight: 800;
  height: 3.2rem;
  padding: 1.2rem 2.4rem;
  border-radius: 32px;
  color: #0d0d2b;
  background-color: #ffffff;
}

.save-word {
  font-weight: 400;
  font-size: 1.6rem;
  color: #ffffff;
}

.hero-description {
  font-weight: 400;
  font-size: 1.2rem;
  color: #ffffff;
  margin-bottom: 1.5rem;
}

.nav-reg:link,
.nav-reg:visited {
  width: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 1.2rem 2.4rem;
  border-radius: 32px;
  color: #fff;
  background-color: #3671e9;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.4rem;
}

.img1,
.img2,
.img3 {
  position: absolute;
}

.img1 {
  top: 40%;
  height: 5rem;
  transform: translateX(35%);
}

.img1 img {
  width: 50%;
}

.img2 {
  top: 60%;
  right: 0rem;
  height: 5rem;
}

.img3 {
  top: 120%;
  right: 0rem;
  height: 5rem;
  transform: translateX(50%);
}

.trade-paragrapgh-1 {
  width: 62rem;
  height: 5rem;
  margin-left: 47rem;
  margin-top: 10rem;

  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.7rem;

  text-align: center;

  color: #999;
}

.trading-div {
  position: relative;
  width: 100%;
  height: 70rem;
  background-color: #fff;
}

.trade-cta {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-left: 32rem;
  width: 100rem;
  font-size: 2rem;
  background-color: #fbfcfe;
  margin-top: 20.7rem;
  height: 15rem;
  padding: 5rem 5rem 0rem 5rem;
  border-radius: 1.6rem 1.6rem 0rem 0rem;
}

.cta-enter {
  font-weight: 400;
  color: #0d0d2b;
  margin-top: -3rem;
  margin-right: 20rem;
}

.form {
  width: 40rem;
  height: 0rem;
  left: 29rem;
  margin-top: 2rem;

  border: 1px solid #e0e0e0;
}

.second-form {
  width: 20rem;
  height: 0rem;
  left: 29rem;
  margin-top: 2rem;
  border: 1px solid #e0e0e0;
}

.ammount {
  margin-top: -3rem;
  margin-left: -14rem;
  color: #0d0d2b;
}

.btn-cta {
  color: #fff;
  height: 5.9rem;
  width: 14.7rem;
  padding: 16px 32px 16px 32px;
  font-size: 2rem;
  cursor: pointer;
  text-decoration: none;
  border: #3671e9;
  background: #3671e9;
  border-radius: 3.2rem;
  margin-top: -3rem;
}

.estimated-div {
  box-sizing: border-box;
  position: absolute;
  width: 100rem;
  height: 21rem;
  margin-left: 32rem;
  /* margin-top: 21rem; */

  background: #ffffff;
  box-shadow: 0rem 0.1rem 4rem 0rem #8a7fa1;

  border-radius: 0rem 0rem 1.6rem 1.6rem;
}

.estimated-heading {
  color: #3671e9;
  letter-spacing: 0.04em;
  font-weight: 700;
  font-size: 1.5rem;
  width: 25.4rem;
  height: 0.2rem;
  left: 2.9rem;
  top: 2.2rem;
  position: absolute;
}

.estimated-heading-2 {
  position: absolute;
  width: 62rem;
  height: 4rem;
  left: 2.7rem;
  top: 4rem;

  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 150%;

  letter-spacing: 0.04em;

  color: #0d0d2b;
}
.estimated-blue {
  color: #3671e9;
}

.estimated-paragraph {
  margin-top: 10rem;
  font-size: 1.5rem;
  margin-left: 3rem;
}

.heading-trade {
  font-size: 3rem;
  text-align: center;
  color: #222;
  font-weight: 900;
  line-height: 100%;
  width: 50rem;
  margin-left: 34rem;
}

.coins-div {
  height: 50rem;
  width: 120rem;
  margin-left: 22rem;
}

.btc-div {
  background-color: #2b076e;
  width: 20rem;
  height: 10rem;
}
